# Set yourself
SECRET_KEY = '<DJANGO_SECRET_KEY>'
STATIC_URL = 'https://mlacademy.blob.core.windows.net/django-static/static/'
SENTRY_URL = 'https://713971f4cc3f4d92bd6d66f24ab2f085@sentry.io/1414594'

# Set to true locally
SECURE_SSL_REDIRECT = False
DEBUG = '<DEBUG {True|(False)}>'

# Security - Don't change
SESSION_COOKIE_SECURE = True
CSRF_COOKIE_SECURE = True
SECURE_BROWSER_XSS_FILTER = True
X_FRAME_OPTIONS = "DENY"
