<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'github-markdown.css' %}" />
  </head>
  <body>
    <h1>Error 500</h1>
    <p>
      Something went wrong with your request. Are you sure you entered the right
      parameters? Check the API documentation at
      <a href="/">api.mlacademy.ml</a> if you are not sure.
    </p>
  </body>
</html>
